@keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .animate-slideRight {
    animation: slideRight 3s ease-in-out infinite;
  }
  